[user]
	name = Serhat Teker
	email = serhat.teker@gmail.com
	signingkey = E4E824E75934CABA11ED9686F037930082E016E1
[core]
	editor = nvim
    # default
    # http://git-scm.com/docs/gitignore#_description
    # core.excludesFile = $HOME/.config/git/ignore
[credential]
	helper = cache --timeout=3600
[push]
	; It pushes both commits and only tags that are both:
	; annotated and reachable (an ancestor) from the pushed commits
	followTags = true
	; verbose = true
; [merge]
; 	ff = false
[diff]
	tool = nvimdiff
	guitool = nvimdiff
