# override existing snippets from UltiSnips
priority 1

snippet shebang "shebang" b
#!/usr/bin/env bash

# Bash safeties: exit on error, no unset variables, pipelines can't hide errors
set -o errexit
set -o nounset
set -o pipefail


$0
endsnippet
