# ls {{{

# Defaults
# alias l='ls -CF'
# alias la='ls -lA'
# alias ll='ls -ahlF'

# lsd
# https://github.com/Peltoche/lsd
alias ls='lsd'
alias l='lsd -l'
alias la='lsd -lA'
alias lla='lsd -la'
alias lsa='lsd -a'
alias lt='lsd --tree'

# show all files
alias lsf='ls -p | grep -v /'
# show all symbolic links
alias fln='ls -la . | grep "\->"'
# show all regular files
alias laf='ls -lAhp | grep -v /'
# watch
alias wad='watch -d ls -lAh'
# }}}

# alert {{{

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'
# }}}

# System {{{

# TODO: check logout-sync cmd exists
alias shutdown='logout-sync && sudo shutdown -h now'
alias sleep='systemctl suspend'

## thrash
alias thrash-empty='rm -rf ~/.local/share/Trash/*'
alias thrash-clean='thrash-empty'
alias clean-thrash='thrash-empty'
alias erase='shred –vfzu –n 5'

## screenshots
alias screenshots-clear='rm -r $HOME/Pictures/Screenshot*'
alias screenshots-clean='screenshots-clear'
alias clean-screenshots='screenshots-clear'
alias fan='mono /opt/nbfc/nbfc.exe status -a'

# Network
alias wifi-restart='nmcli radio wifi off && nmcli radio wifi on'
alias wired-restart='service network-manager restart'

## apt
alias remove-package='sudo apt remove --purge "$1" && sudo apt autoremove --purge'

## maintenance
alias update='sudo -- sh -c "apt update -y; apt list --upgradable"'
alias update-and-upgrade='sudo -- sh -c "apt update; apt upgrade -y; apt dist-upgrade -y"'

## pid
alias list-pids='ps aux > pid.list && nvim pid.list'

## monitor
alias monitor="python3.9 -m bpytop"

# dirs
# alias mkcd='makecd(){mkdir -p "$1"; cd "$1"}; makecd'
alias cdg='cd-gitroot'

# print all and ignore .git and .venv dir
alias tree='tree -aI ".git|.venv"'

# source zsh
alias sz='exec zsh'

# https://askubuntu.com/a/22043
alias sudo='sudo '
# }}}

# Vim {{{

alias vi='nvim'
alias vs='nvim -S'
# to remove error E138: ShaDa file exist, cannot write ShaDa file!
alias rm-shada='rm ~/.local/share/nvim/shada/main.shada.tmp.x'

# }}}

# Apps {{{

# use insiders as default
# alias code='code-insiders'

alias postman='~/apps/postman/Postman\ Agent/Postman\ Agent > /dev/null 2>&1 &'
# }}}

# git {{{

alias gac='git add . && git commit'
# Initial empty commit for repos
alias gcae='git init && git commit --allow-empty -m "Initial commit"'
alias gaec='git init && git commit --allow-empty -m "Initial commit"'
# Visualize git branch tree
alias glvb='git log --graph --simplify-by-decoration --pretty=format:'%d' --all'
# List tracked files by git
alias gtf='git ls-tree -r $(git_current_branch) --name-only'
alias gstu='git stash -u'
# }}}

# tmux {{{

alias ta='tmux a -t'
alias tls='tmux ls'
alias tka='tmux kill-server'
# tmux resurrect last sessions from resurrect addon
alias mux='pgrep -vx tmux > /dev/null && \
		tmux new -d -s delete-me && \
		tmux run-shell ~/.config/tmux/plugins/tmux-resurrect/scripts/restore.sh && \
		tmux kill-session -t delete-me && \
		tmux attach || tmux attach'
# alias tmux='tmux -2'
alias sw='start-workspace'
# }}}

# docker {{{

alias dps='docker ps'
alias dpsa='docker ps -a'
# }}}

# kubernetes - k8s {{{

alias karf='kubectl apply -R -f'
alias kak='kubectl apply -k'
alias kgao='kubectl get all -A > /tmp/output.log ; nvim /tmp/output.log'
# }}}

# python {{{

alias p='python3.8'
alias pp='python3.8 -m pip'
alias pd="python -m ipdb -c continue"
# default ipython alias uses python 2
# TODO: make this function with $PYTHON_VERSION arg
alias pi='python3.8 -c "import IPython; IPython.terminal.ipapp.launch_new_instance()"'

# django {{{
alias pm="python manage.py"
alias pdm="python -m ipdb -c continue manage.py"
# }}}

# virtual environment {{{

alias cvenv='ve'

## activate virtual environment
alias av='source .venv/bin/activate'
alias sv='source .venv/bin/activate'

## reactivate virtual environment
alias rv='deactivate && source .venv/bin/activate'
# }}}
# }}}

# Utilities {{{

# display $paths line by line
alias sedpath='sed "s/ /\n/g" <<< "$path"'
alias paths='sed "s/ /\n/g" <<< "$path"'
# }}}

# VM {{{

alias mp='multipass'
# }}}

# Others {{{

alias cmatrix='cmatrix -Baf'
alias umatrix='unimatrix -a -f -b -s 96 -l m'
alias matrix='gnome-terminal --full-screen -- /bin/bash -c "unimatrix -a -f -b -s 96 -l m;read"'
alias unix='unix-print'
alias ncal='ncal -w'
# disk usage
alias space='du -hx --max-depth=1'
alias space-sorted='f() {du -hx --max-depth=1 "$1" | sort -hr | head}; f'
# symstem in ASCII art terminal
## take screenshot
alias nfs='neofetch -S'
# images
alias webify="mogrify -resize 690\> *.png"
# }}}
